
body {
    width: 300px;
    font: 14px/1.4 system-ui, sans-serif;
    margin: 14px;
    background-color: #101114;
}
button {
    padding: 8px 12px;
    border: 2px;
    border-radius: 20px;
    cursor: pointer;
}

#pick {
    width: 100%;
    margin-bottom: 12px;
    background: #111;
    color: #fff;
}

#result-card {
    height: 60px;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #464d56;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#swatch {
    width: 55px;
    height: 55px;
    border-radius: 8px;
    margin: auto;
    background-color: white;
    border: solid 1px gray;
}

